body{
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    width: 100%;
}
.div-bg{
    box-sizing: border-box;
    padding: 150px;
    background-image: url(./assets/back.png);
    background-origin: border-box;
    background-position: center;
    background-size: cover;
}

.div-inner-bg{
    box-sizing: border-box;
    text-align: center;
    transform: translateX(+6%);
}

.form-group{
    margin-left: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    display: block;
}

.btn{
    margin-left: 10px;
    margin-top: 10px;
}

.container{
    /* text-align: end; */
}

.card{
    transition-duration: 0.7s;
}

.card:hover{
    box-shadow: -2px 2px 10px 0px rgba(220, 220, 220);
    transition-duration: 0.7s;
}